{% extends 'fridge/base.html' %}

{% block content %}
    <p>
        <form action="/add_category/">
            <input type="submit" value="add new category"/>
        </form>
        <form action="/add_product/">
            <input type="submit" value="add new product"/>
        </form>
        <form action="/add_product_to_fridge/">
            <input type="submit" value="add new product to fridge"/>
        </form>
    </p>
    <h1>Products in your fridge:</h1>
    {% if fridge_data %}
        <table>
            <tr>
                <th>Expiry date</th>
                <th>Product</th>
                <th>Category</th>
                <th>Purchase price</th>
                <th>Open</th>
                <th>Date added</th>
                <th>Note</th>
            </tr>
            {% for data in fridge_data %}
                <TR>
                    <TD>{{ data.expiration_date|date:'Y-m-d' }}</TD>
                    <TD>{{ data.product.name}}</TD>
                    <TD>{{data.product.category.name}}</TD>
                    <TD>{{ data.purchase_price }}</TD>
                    {% if data.open == true %}
                        <TD>Yes</TD>
                    {% else %}
                        <TD>No</TD>
                    {% endif %}
                    <TD>{{ data.date_added|date:'Y-m-d' }}</TD>
                    <TD>{{ data.product.notes.note }}</TD>
                    <TD>
                        <form action="/add_note_to_product/{{data.id}}">
                            <input type="submit" value="Add note"/>
                        </form>
                    </TD>
                    <TD>
                        <form action="/delete/{{data.id}}">
                            <input type="submit" value="Remove from fridge"/>
                        </form>
                    </TD>

                </TR>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

